This note book covers general introduction to one of the popular programming language which is Python.

In [13]:
print("Hello" + " " +"World!")

Hello World!

In [15]:
data_list = [1, 2.5, "Python", [3,4], 5]
data_list

[1, 2.5, 'Python', [3, 4], 5]

In [24]:
for i in data_list:
 print (type(i))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'int'>

In [23]:
data_list = [1, 2.5, "Python", [3,4], 5]
print(data_list[3]) #prints 3rd index

a = data_list[3] # assigning new variable to append it in the index 3
a.append(6)
print(a) # let's see how it goes

print(data_list) #Magic now it is appended in our list.

[3, 4]
[3, 4, 6]
[1, 2.5, 'Python', [3, 4, 6], 5]

In [34]:
b=3.0
print(type(b))
c=int(b) #change it to integer from float
c
print(type(c))

<class 'float'>
<class 'int'>

In [42]:
a = "python"
b = {'1': "python"}
c= b['1']
c
print(type(c))

<class 'str'>