Tupple

In [1]:
x = [0,1,2,[3,4],6,"six"]
x

[0, 1, 2, [3, 4], 6, 'six']

In [3]:
x.append('new element')
print(x)

[0, 1, 2, [3, 4], 6, 'six', 'new element', 'new element']

#Set

In [7]:
x = {1,2,3,"str"}
x
x.add('new')
x
x.remove(2)
x

{1, 3, 'new', 'str'}

#Dictionary

In [14]:
dict = {"Animal" : "Monkey"}
dict

{'Animal': 'Monkey'}

Add anything in dictionary

In [16]:
dict['clever']= 0
dict

{'Animal': 'Monkey', 'clever': 0}

Print dictionary

In [24]:
print(dict['Animal'])

Monkey

In [ ]:
a = ['a', 'b', 'c', 'd']
b = [1,2,3,4]
for i in a[]:


c = {'a':1, 'b':2, 'c':3, 'd':4}

#SET

union

In [33]:
a = {1,2,3,4}
b = {4, 5,6,7,8}
result = a.union(b) # or result = a|b is same
print (result)

{1, 2, 3, 4, 5, 6, 7, 8}

using f string

In [34]:
print(f"The union of {a} and {b} is {result}")

The union of {1, 2, 3, 4} and {4, 5, 6, 7, 8} is {1, 2, 3, 4, 5, 6, 7, 8}

In [35]:
print(f"Union:{a|b}") # for union

Union:{1, 2, 3, 4, 5, 6, 7, 8}

In [36]:
print(f"Intersection: {a&b}") #for intersection

Intersection: {4}

In [37]:
print(f"Difference: {a-b}") #for difference only shows element in a not in b

Difference: {1, 2, 3}

In [38]:
print(f"Difference: {b-a}") #for difference only shows element in b not in a

Difference: {8, 5, 6, 7}

In [40]:
print(f"Difference: {a^b}") #for Symmetrical difference. removes common value in both and b (A U B) like in a set

Difference: {1, 2, 3, 5, 6, 7, 8}

In [42]:
a = [1,2,3,4,5]

#Print Loop
for i in a:
  print(i)

1
2
3
4
5

In [43]:
#Print Index
for i in a:
  print(a)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [44]:
#Loop
for i in range(1, 6):
  print(i)

1
2
3
4
5

In [61]:
a = ['One', 'two', 'three', 'four', 'five']
for i in a:
  if len(i)  > 1:
      print(i)

One
two
three
four
five

In [70]:
a=[1,2,3]
b=[4,5,6]

print(a is b)
print(b is a)

x=5
y= 5 or 6
z ='5'
print(x is y)
print(x is not z)

False
False
True
True

In [81]:
a = 12
a_binary = bin(12)
print(a_binary)

b = 9
b_binary = bin(9)
print(b_binary)
#& operator AND
c = a&b
print(c)

0b1100
0b1001
8

Using truth table to find the above value.

In [92]:
#here 12 in binary is 1100 from the above result
#here 9 in binary is 1001 from the above result
print("A(12)\t B(9)\tA and B")
print("-----------------------")

#Let's define boolean values for 12 ane 9 aka Truth Table

a = [True, True, False, False]
b = [True, False, False, True]

#we use for loop here

for A,B in zip(a,b):
  result = A and B
  print(f"{A}\t{B}\t{result}")

A(12)	 B(9)	A and B
-----------------------
True	True	True
True	False	False
False	False	False
False	True	False